version: '2'
services:
  mysql:
    image: mysql:5.6
    networks:
      - gotravel
    ports:
      - "5433:5432"
    environment:
      MYSQL_ROOT_PASSWORD: gotravel

  php:
    build: docker/php-fpm
    networks:
      - gotravel
    ports:
      - '9002:9000'
    volumes:
      - ./:/var/www/goTravel
      - ./logs/symfony:/var/www/goTravel/var/logs
    links:
      - mysql

  nginx:
    build: docker/nginx
    environment:
      VIRTUAL_HOST: "go-travel.com"
    networks:
      - gotravel
    ports:
      - '8081:80'
    links:
      - php
    volumes_from:
      - php
    volumes:
      - ./logs/nginx/:/var/log/nginx:cached

  encore:
    build:
      context: ./docker/webtools
    volumes:
      - ./:/var/www/goTravel
    networks:
      - gotravel

networks:
  gotravel:
    driver: bridge